#photo-upload-container {
  min-height: 200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#drop-area {
  border: 2px dashed #007bff;
  background-color: #f8f9fa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}
#drop-area.dragover {
  background-color: #e9ecef;
  border-color: #0056b3;
}
.photo-box {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 5px;
  z-index: 2;
}
.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pdf-box {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-box .pdf-icon {
  font-size: 4rem;
  color: #dc3545;
}
